nav div .navbar-nav a{
    color: rgb(138, 135, 135);
}
div .position-absolute h2,p{
    color: rgb(255, 255, 255);
}
.oradores1 {
    text-align:center;
    justify-content: center;
}
.btn-color{
    background-color: rgb(106, 165, 18);
}
.filtro {
    filter:brightness(50%);
    -webkit-filter:brightness(50%);
}
.carousel-text{
position: absolute;
right:8%;
top: 10vw;

}
